<div class="product-list__container">
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <div style="overflow: hidden;">
        <div class="item">
            <button mat-raised-button color="accent" (click)="getAllProducts()">Load</button>
        </div>
        <div class="item">
            <button mat-raised-button color="accent" (click)="navigation()">Add</button>
        </div>
    </div>
</div>


