.product-list__container {
    width: 60%;
    margin: 0 20% 20%;

    table {
        @include mat-elevation(8);
        width: 100%;
        background-color: white;

        th {
            font-weight: bold;
            font-size: 16px;
        }
    }
}

.item {
    float:right; 
}