<div class="container">
    <form [formGroup]="productForm">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput class="form-control" required formControlName="name">
            <mat-error *ngIf="productFormControl.name.touched && productFormControl.name.errors">
                Product name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Barcode</mat-label>
            <input type="text" matInput class="form-control" required formControlName="barcode">
            <mat-error *ngIf="productFormControl.barcode.touched && productFormControl.barcode.errors">
                Barcode name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input type="number" [min]="1" matInput class="form-control" required formControlName="price">
            <mat-error *ngIf="productFormControl.price.touched && productFormControl.price.errors">
                price should be greater then 0
            </mat-error>
        </mat-form-field>

        <div class="button-container">
            <button type="submit" color="primary" mat-raised-button [disabled]="!productForm.valid" (click)="onSubmit()">Add new product</button>
            <button mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
 </div>