form {
    width: 50%;
    margin: 100px 25% 0 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
    .button-container {
        margin-top: 16px;
        width: 100%;
        display: flex;
        column-gap: 16px;
    }
 
    mat-form-field, button {
        width: 100%;
    }
 
    .mat-form-field-invalid {
        margin-bottom: 5px;
    }
 }